.table-container {
    width: calc(100% - 20px);
    max-height: 450px;
    overflow: auto;
}


.companies-table-list {
    width: 100%;
    padding: 30px;
}

.companies-table-list th {
    top: 0;
    position: sticky;
    background: var(--white);
}

.companies-table-list th:first-child,
.companies-table-list td:first-child {
    text-align: left;
}

.companies-table-list th,
.companies-table-list td {
    padding: 12px 8px;
    text-align: center;
}

.companies-table-list tbody tr:nth-of-type(even) {
    background-color: var(--base-clr);
    border-radius: 6px;
}

.companies-btn {
    border: none;
    outline: none;
    background: var(--primary-clr);
    color: var(--white);
    padding: 20px;
    box-shadow: 0px 24px 36px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    cursor: pointer;
}

.companies-btn:hover {
    background: #112978;
}