.sidenav {
    background: var(--accent-clr2);
    height: screen;
    padding: 0 5px;
    border-radius: 14px;
}



.well {
    background-color: #F3F3F3;
    font-family: Messina Sans;
    text-align: right;
    height: 80px;
    padding: 15px;
    border-radius: 6px;
    background: rgb(243, 243, 243);
}

.chart-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}