.header-section {
    position: relative;
    min-height: calc(100vh);
    overflow: hidden;
    padding: 10px 50px;
    background: var(--primary-clr);
}

.logo-white, .info-white, .share-white {
    display: block;
}

.logo-black, .info-black, .share-black {
    display: none;
}

.nav_sticky .nav-container {
    position: fixed;
    /* top: 0; */
    left: 50px;
    right: 50px;
    margin: 0;
    background: var(--base-clr);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-radius: 0.75rem;
    z-index: 70 !important;
}


.navbar-btn-share {
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 50%;
    z-index: 100;
    padding: 0.5rem;

}


.navbar-btn-share:hover {
    border-color: #afcd80;
    background: #afcd80;
    color: white;
}

.navbar-btn-download {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 0.5rem;
    z-index: 100;
    padding: 0.5rem 20px;
}

.navbar-btn-download:hover {
    border-color: var(--primary-clr);
    background: var(--primary-clr);
    color: var(--white);
}

.navbar-drop-btn {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-top: 12px;
    align-items: center;
    z-index: 120 !important;
    cursor: pointer;
    overflow: hidden;
}

.info {
    display: block;
}

.cross {
    display: none;
}


body.active .navbar-drop-btn .info {
    display: none;
}

body.active .navbar-drop-btn .cross {
    display: block;
}

body.active .navbar-btn-share {
    border-color: #afcd80;
    background: #afcd80;
}

body.active .navbar-btn-share:hover {
    border-color: #8ba95b;
    background: #93ae66;
}


body.active .navbar-btn-download {
    border-color: var(--primary-clr);
    background: var(--primary-clr);
    color: var(--white);
}

body.active .navbar-btn-download:hover {
    color: var(--white);
    border-color: #163496;
    background: #163496;
}

.navbar-menu-iteams {
    position: absolute;
    right: -100%;
    top: 3px;
    width: 380px;
    padding: 80px 5px 10px 30px !important;
    background: var(--white);
    border-radius: 18px;
    z-index: 50;
    margin-right: 30px;
    overflow: auto;
}


body.active .navbar-menu-iteams {
    right: 0px;
}

.navbar-menu-iteams li {
    padding-bottom: 22px;
}


.navbar-menu-iteams li a {
    display: block;
    color: var(--black);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.navbar-menu-iteams li a:hover {
    color: var(--primary-clr);
}

.navbar-drop-btn {
    width: 24px;
    height: 24px;
}

.nav_sticky .logo-white,
.nav_sticky .info-white {
    display: none;
}

.nav_sticky .logo-black,
.nav_sticky .info-black {
    display: block;
}



.nav_sticky .navbar-btn-share {
    border-color: #afcd80;
    color: #afcd80;
}

.nav_sticky.active .navbar-btn-share {
    border-color: #afcd80;
    background: transparent;
}


.nav_sticky .navbar-btn-download {
    border-color: var(--primary-clr);
    color: var(--black);
}

.nav_sticky .navbar-btn-download:hover {
    background: var(--primary-clr);
    color: var(--white);
}

.nav_sticky.active .navbar-btn-download {
    border-color: var(--primary-clr);
    background-color: transparent;
    color: var(--primary-clr);
}



.nav_sticky .navbar-menu-iteams {
    margin-right: 0;
}