.cutome-window {
    max-width: 1240px;
    margin: auto;
    margin-top: 150px;
}

.shared-content h1 {
    font-size: 3rem;
    line-height: 1;
    padding: 10px 0;
}

.shared-content p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    width: 70%;
}

.transition {
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}


/* Media Query */

@media screen and (max-width: 1024px) {
    .cutome-window {
        padding: 0 30px;
    }

    .chart-container {
        height: 400px;
        max-width: 900px;
    }

    .about-banner img {
        display: block;
    }


}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cutome-window {
        margin-top: 120px;
        padding: 0 12px;
    }

    .shared-content h1 {
        font-size: 42px;
        font-weight: 500;
    }

    .shared-content p {
        font-size: 12px;
        width: 100%;
    }

    .navbar-btn-share,
    .navbar-btn-download,
    .nav_sticky .share-black {
        display: none;
    }

    .banner-container {
        flex-direction: row;
    }

    .banner-content {
        flex-direction: column;
        align-items: center;
        margin-top: -50px;
        left: 50%;
    }

    .banner-bg {
        background-image: none;
    }

    .counter-content {
        bottom: 30%;
        display: grid;
        grid-template-columns: repeat(4, minmax(120px, 1fr));
        row-gap: 30px;
        column-gap: 10px;
        padding: 20px;
    }


    .banner-container,
    .index-container {
        display: block;
    }


    .sidenav {
        width: 100%;
        margin-bottom: 20px;
    }

    .chart-container {
        width: 700px;
    }

    .feature-items {
        grid-template-columns: repeat(3, 1fr);
    }

    .stories-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-content {
        width: 100%;
    }

    .about-banner img {
        display: block;
    }

    .footer-div {
        width: 100vw;
    }

    .footer-container {
        padding: 20px
    }

    .footer-middle-items {
        padding-left: 0;
    }

    .footer-middle-items ul {
        display: grid;
        gap: 10px;


    }
}

@media screen and (max-width: 767px) {
    .cutome-window {
        margin-top: 50px;
        padding: 0 30px;
    }

    .slider-container {
        padding-left: 68px;
        padding-right: 68px;
    }

    .shared-content h1 {
        font-size: 24px;
        font-weight: 200;
    }

    .shared-content p {
        font-size: 20px;
        width: 100%;
    }

    .logo img {
        width: 80px;
    }

    .navbar-btn-share,
    .navbar-btn-download,
    .nav_sticky .share-black {
        display: none;
    }


    .header-section {
        min-height: calc(100vh - 20px);
        padding: 10px 15px;
    }


    .nav_sticky .nav-container {
        left: 15px;
        right: 15px;
    }

    .navbar-menu-iteams {
        width: calc(100% - 25px);
        right: calc(-100% - 25px);
    }

    .banner-container {
        flex-direction: row;
        gap: 20px;

    }

    .banner-content {
        flex-direction: column;
        align-items: center;
        margin-top: -150px;
        left: 50%;
    }

    .banner-bg {
        background-image: none;
    }

    .banner-container,
    .index-container {
        display: block;

    }

    .chart-container {
        height: 400px;
        max-width: 700px;
    }

    .banner-content p {
        width: 340px;
    }

    .counter-content {
        bottom: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        row-gap: 30px;
        column-gap: 10px;
        padding: 10px;
        margin-top: 20px;
    }

    .sidenav {
        width: 100%;
        margin-bottom: 10px;
    }

    .feature-items {
        grid-template-columns: repeat(1, 1fr);
    }

    .stories-container {
        grid-template-columns: repeat(1, 1fr);

    }

    .slider-container {
        padding: 10px;

    }

    .about-content {
        width: 100%;
    }

    .about-banner img {
        display: none;
    }

    .footer-div {
        width: 100vw;

    }

    .footer-container {
        width: 100vw;
        margin: auto;
    }

    .footer-middle-items {
        padding-left: 0;
    }

    .footer-middle-items ul {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        column-gap: 30px;

    }
}