.stories-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 80px;
    margin-top: 80px;
}

.stories-item {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 8px;
}

.stories-item h4 {
    color: var(--primary-clr);
}

.stories_img {
    position: relative;
    width: 120px;
    height: 120px;
    margin-top: -70px;
    border-radius: 4px;
}

.stories_badge {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
    width: 60px;
    border-radius: 4px 0 4px 0;
    background: var(--white);
}


.stories_card {
    padding-top: 50px;
}

.stories_read_btn {
    color: var(--white);
    padding: 10px;
    margin-top: 16px;
    color: var(--white);
    background: var(--primary-clr);
    cursor: pointer;
    border-radius: 10px;
}