* {
    padding: 0;
    margin: 0;
    /* background: #F3F3F3; */
}

.primary-clr {
    color: #2042B6
}

.navbar-menu-iteams li,
.navbar-menu-iteams a {
    background: white;
}


/* Banner */

.banner-bg {
    background-image: url('/public/Images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
}


.banner_side h1 {
    font-family: Nantes;
    font-size: 36px;
    font-weight: 400;
    line-height: 50.72px;
    display: block;
    margin-bottom: -12px;

}

.banner_side span {
    font-family: Neue Haas Unica W1G;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.1px;
    text-align: left;
    color: #CDCDCD;

}