@import "./navbar.css";
@import "./banner.css";
@import "./index.css";
@import "./feature.css";
@import './stories_ideas.css';
@import './about.css';
@import './companies.css';

@import "./resposive.css";

:root {
    --primary-clr: #2042b6;
    --accent-clr1: #ededed;
    --accent-clr2: #EFF3F6;
    --base-clr: #F3F3F3;
    --black: black;
    --white: white;
    --primary-font: "Nantes";
    --secondary-font: "Messina Sans";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    scroll-behavior: smooth;
    background: var(--accent-clr1);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
}

p, span, option {
    font-family: var(--secondary-font);
    font-size: medium;
}

option {
    background: var(--accent-clr2);
    color: var(--black);
}

.cutome-window {
    max-width: 1440px;
    margin: auto;
    margin-top: 150px;
}


.shared-contant h1 {
    font-size: 3rem;
    line-height: 1;
    padding: 10px 0;
}

.shared-contant p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    width: 70%;
}